/* Import fonts: */
@import url(../fonts/Kalam/Kalam.css);
@import url(../fonts/Varela/Varela.css);

/* Default styles: */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

body {
    font-family: Varela, cursive;
    color: #FAF8FF;
    background-color: #141414;
}

header {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

main section {
    flex-basis: 15rem;
    flex-grow: 1;
    margin: .5rem;
    border: 2px solid #3E3E3E;
    border-radius: 0 0 30px 30px;
    background-color: #313337;
}

footer {
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 1.5rem;
    text-align: center;
    /*border-top: 2px solid #3E3E3E;*/
    /*border-bottom: 2px solid #3E3E3E;*/
    border-radius: 30px;
    background-color: #8C5261;
}

figure {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 18.75rem;
    margin: 1.5rem auto;
    text-align: center;
    border: 3px dashed #141414;
}

figcaption {
    padding: .5rem 1.5rem;
    background-color: #141414;
}

article {
    padding: 1.5rem;
}

section h3 {
    font-family: Kalam, cursive;
    padding: .5rem 1rem;
    border-left: .3rem solid #8C5261;
    background-color: #4B565D;
}

/*video {*/
/*    display: block;*/
/*    width: 100%;*/
/*    max-width: 21.75rem;*/
/*    height: auto;*/
/*    margin: 0 auto 1.5rem;*/
/*    padding: 0 1.5rem;*/
/*}*/

/*audio {*/
/*    display: block;*/
/*    width: 100%;*/
/*    max-width: 25rem;*/
/*    margin: 0 auto 1.5rem;*/
/*    padding: 0 1.5rem;*/
/*}*/

img {
    width: 100%;
    padding: 1.5rem;
}

a {
    color: #CE7967;
}

.first-letter {
    font-size: 1.5rem;
    font-weight: bold;
}

.facts {
    display: flex;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #3B3B3B;
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

.facts--text {
    /*border: 3px solid black;*/
    font-family: Kalam, cursive;
    text-align: center;
}

@media (min-width: 0rem) {
    .facts {
        display: block;
        padding: 8rem 1.5rem 3rem 1.5rem;
        background-image: url("../images/mario--tiny.png");
        background-position: 50% 0;
        background-size: 5rem;
    }

    .facts--text {
        width: 100%;
    }
}

@media (min-width: 30rem) {
    .facts {
        display: flow;
        padding: 3rem 1.5rem;
        background-image: url("../images/mario--child.png");
        background-position: 5% 50%;
    }

    .facts--text {
        width: 80%;
        margin-left: 20%;
    }
}

@media (min-width: 40rem) {
    .facts {
        background-image: url("../images/mario--puber.png");
        background-position: 3% -10%;
        background-size: 7rem;
    }
}

@media (min-width: 50rem) {
    .facts {
        background-image: url("../images/mario--normal.png");
        background-position: 95% -120%;
        background-size: 7rem;
    }

    .facts--text {
        margin-left: 0;
    }
}

@media (min-width: 60rem) {
    .facts {
        background-image: url("../images/mario--old.png");
        background-position: 100% 100%;
        background-size: 7rem;
    }

    .facts--text {
        width: 85%;
    }
}

@media (max-width: 180px) {
    figure, header {
        display: none;
    }
}

/*
.too-small {
    display: none;
    padding: 0;
    margin: 40vh auto;
    color: red;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 160px) {
    header, main, footer {
        display: none;
    }

    .too-small {
        display: block;
    }
}
*/