/* Global settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Middle container */

.container {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    padding: 2rem .5rem;
}


/* Flex banners */

.banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    padding: 1.5rem;
}

.banner__img {
    width: 100%;
    padding: 1.5rem;
}

.banner__fullscreen {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
}

@media (min-width: 35rem) {
    .banner__img,
    .banner-item {
        width: 50%;
    }
}

/* Cards */

.cards {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.cards__header {
    margin: .5rem;
}

.card {
    flex-grow: 1;
    width: 30%;
    min-width: 5rem;
    margin: .5rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #7C7C7C7C;
}

.card .card__banner {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card .card__content {
    padding: 0 1rem 1rem;
}

.card .card__flag {
    float: left;
    width: 2rem;
    margin-top: .5rem;
    margin-right: .5rem;
}

@media (min-width: 12rem) {
    .card {
        min-width: 10rem;
    }
}

/* Round cards */

.cards__round {

}

.card__round {

}

/* Progress bars */

.progress-bar,
.progress-bar .progress {
    width: 100%;
    height: .3rem;
    border-radius: .15rem;
}

.progress-bar {
    background-color: #DDDDDD;
}

.progress-bar .progress {
    background-color: #006ED3;
}

/* colors */

.color--white {
    color: #fff;
}

.color--gray {
    color: #666666;
}

.color--red {
    color: #6d0240;
}

.color--blue {
    color: #006fd5;
}

.bg-color--gray {
    background-color: #DDDDDD;
}

.bg-color--blue {
    background-color: #006fd5;
}

.img__meeting {
    background-image: url("../images/meeting-photo.png");
}

/* Properties */
.space_container *:not(:last-child) {
    margin-bottom: 1rem;
}

.space {
    margin-bottom: 1rem;
}

.spaces {
    margin-bottom: 2rem;
}

/* special styles */

.button--blue__arrow {
    padding: .5rem .8rem;
    transition: .2s;
    border: none;
    border-radius: 5px;
    background-color: #006fd5;
    background-position: 150% 50%;
}

.button--blue__arrow:hover {
    padding-right: 2.5rem;
    cursor: pointer;
    border-radius: 5px .8rem .8rem 5px;
    background-color: #015098;
    background-image: url("../images/arrow--right.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;
    background-size: .8rem;
}