@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

body {
    font-family: "Cabin", sans-serif;
    margin: 1.5rem;
    opacity: 1;
    background-image: url("../images/background.svg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 80rem;
}

.img--left {
    float: left;
    width: 20rem;
    padding: 2rem 2rem 2rem 0;
}

.img--right {
    float: right;
    width: 15rem;
    padding: 1rem;
}

.end {
    padding-bottom: 15vw;
}

.text {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    color: #13152A;
}

span {
    color: white;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.too-small {
    display: none;
}
