* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

html {
    min-height: 100%;
}

body {
    font-family: sans-serif;
    min-height: 100%;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
    color: white;
}

.pricing-plans {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 0 auto;
}

.plan {
    display: flex;
    flex-basis: 12rem;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
}

.plan > * {
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: 1rem;
    word-wrap: break-word;
}

.plan__features {
    padding: 0;
}

.plan__features li {
    padding: .5rem;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.plan__features li:last-child {
    border-bottom: 0;
}

.plan a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    background: #FEFF00;
}

.plan h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.plan__price {
    font-size: 3.125rem;
    margin-top: auto
}
