@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    opacity: 1;
    font-family: "Cabin", sans-serif;
}

.end {
    padding-bottom: 20rem;
}

.text {
    width: 50%;
    /* Below is added for compatibility with older browsers */
    display: table;
    margin: .7rem auto;
    color: #13152A
}

span {
    color: white;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
