* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

body {
    color: #C0FAFF
}

header {
    background-color: #9E150B;
}

main {
    background-color: #667C82;
}

footer {
    background-color: #33476C;
}

.center-box {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3rem 1rem;
}

.nav-menu li a:hover:not(.nav-menu--active) {
    background-color: #553E74;
}

.nav-menu--active {
    background-color: #7E2A66;
}